$white: #ffffff;
$grayLightest: #f4f4f4;
$grayStrongest: #333;
$black: #202020;
$overlay: #212121;
$grayBgIcons: #f6f7f9;
$borders: #ebeff3;
$inputBorders: #e2e8f0;
$minusPlusButton: #d0d6dc;
$minusIcon: #afb8c0;
$gray: #c6c6c6;
$background: #fffffe;
$backgroundGray: #f6f7f9;
$primaryLightBlue: #e5faf1;
$primaryGreen: #2a5913;
$secondaryGreen: #ADE8C4;
$secondaryBlue: #47657f;